
.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

ul li {
  padding: 1rem;
}

